*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}
section{
    background: url(images/man-2178721_1920.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
   
    padding: 20px;
}
nav{
    background: white;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 75px 
    
}
#logo a{
    color: black;
    font-family: Texturina;
    font-size: 30px;
    font-weight: 700;
    text-decoration: none;
}
.navCenter a{
    text-decoration: none;
    margin: 20px;
    font-family: Texturina;
    font-size: 17px;
    font-weight: 700;
    color: black;
}
.navCenter a:hover{
    text-decoration: underline;
}
nav button{
    padding: 10px;
    background: black;
    color: white;
    border: 0;
    border-radius: 20px;
    cursor: pointer;
}
